.form-Container {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 600px;
    min-width: 300px;
}

.juditContainer {
    margin: 10px 0px;
}

.form-Container .MuiFormControl-root {
    margin: 5px 0px;
}

.form-Container div input {
    height: 1rem;
}

@media screen and (min-width: 800px) {
    .form-Container {
        padding: 20px;
        filter: drop-shadow(2px 2px 6px #00000056);
        background-color: #fff;
    }
}

@media only screen and (max-width: 450px) {
    .form-Container {
        width: 95%;
    }
}

form button.subButton {
    height: 40px;
    width: 20%;
    min-width: 100px;
}